.header-block {
    text-align: center;
    letter-spacing: 0.2px;
    :not(:last-child){
        margin-bottom: 10px;
    };
}

.header-block__title {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(57 / 40 * 100%); /* 142.5% */
    @media (max-width: 768px) {
        font-size: 36px;
    }
    @media (max-width: 578px) {
        font-size: 30px;
    }
}

.header-block__subtitle {
    color: $color-textDark;
    line-height: calc(20 / 14 * 100%); /* 142.857% */
}
