$color-textMain: #252b42;
$color-textDark: #737373;
$color-textLight: #ffffff;
$color-accent: #ff7b47;
$color-button: #0d5c63;
$color-background: #fafafa;
$color-backgroundDark: #17213C;
$color-backgroundForm: #F9F9F9;
$color-darkBackground: #252B42;